body{
  font-family: "Poppins", sans-serif; 
  color: #333333;
  background: #F2F2F2;
}

header{
  position: absolute;
  width: 100%;
  height: 72px;
  border-bottom: 0.8px solid #E0E0E0;
}

.profile-chat img{
  position: absolute;
  width: 48px;
  height: 48px;
  left: 20px;
  top: 12px;
  border-radius: 50%;
}

.name-chat{
  position: absolute;
  width: 200px;
  height: 22px;
  left: calc(50% - 200px/2);
  top: 25px;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
}

.quit{
  position: absolute;
  width: 28px;
  height: 28px;
  right: 20px;
  top: 12px;
}

.chat-record{
  width: 100%;
  /* grid of chat-record */
  display: grid;
  grid-template-columns: 20px 100px auto 100px 20px;
  grid-row-gap: 20px;
  /* size */
  position: absolute;
  left: 0px;
  right: 0px;
  top: 72px;
  /* bottom: 105px; */
  /* font of chat */
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

.time{
  grid-column: 3/span 1;
  font-weight: 600;
  font-size: 12px;
  line-height: 24px;
  text-align: center;
  color: #828282;
}

.chat-partner{
  color: #333333;
  grid-column: 2/span 2;
  text-align: left;
  padding: 6px 18px;
  background: #FFFFFF;
  box-sizing: border-box;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.14);
  border-radius: 24px;
}

.chat-me{
  color: #FFFFFF;
  grid-column: 3/span 2;
  text-align: left;
  align-content: right;
  padding: 6px 18px;
  background: #4A74B3;
  box-sizing: border-box;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.14);
  border-radius: 24px;
}

.chat-tool{
  position: absolute;
  height: 80px;
  left: 20px;
  right: 20px;
  bottom: 40px;
  /* grid of chat-tool */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 2fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.chat-box{
  grid-column: 1/span 4;
  grid-row: 1/span 1;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  color: #333333;
  padding: 0px 20px;
  border: none;
}

::placeholder{
  color: #979797;
}

.chat-text{
  grid-column: 1/span 1;
  grid-row: 2/span 1;
  background: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}

.emoji{
  grid-column: 2/span 1;
  grid-row: 2/span 1;
  background: #E8E8E8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo-video{
  grid-column: 3/span 1;
  grid-row: 2/span 1;
  background: #E8E8E8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-send{
  grid-column: 4/span 2;
  grid-row: 2/span 1;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #FFFFFF;
  border: none;
  width: 100%;
  height: 100%;
  background: #4A74B3;
}

footer{
  display: flex;
  position: absolute;
  padding: 30px;
  text-align: center;
  bottom: 20px;
  background:red;
}


@media screen and (min-width: 850px){}


@media (prefers-reduced-motion:reduce){
  /* #logo{
    animation: none;
  } */
}