body{
  font-family: "Poppins", sans-serif; 
  color: #333333;
  background: #F2F2F2;
}

/* Navbar */
nav{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 0px 0px 14px;
  position: fixed;
  width: 100%;
  height: 60px;
  left: 0px;
  top: 0px;
  background: #FFFFFF;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

nav img{
  margin: 0 6px;
}

/* Cards */
main{
  min-height: 600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-container {
  width: 360px;
  height: 480px;
  top: 72px;
  perspective: 600;
  position: relative;
  text-align: center;
  align-content: center;
  margin: 10px 4px;
}
.card {
  height: 100%;
  width: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: all 1s ease-in-out;
  -webkit-transition:all 1s ease-in-out;
  background: #FFFFFF;
}
.card:hover{
  transform: rotateY(180deg);
}
.card .side {
  backface-visibility: hidden;
  height: 100%;
  width: 100%;
  position: absolute;
}
.card .back {
  transform: rotateY(180deg);
}
  
.card .march{
  position: absolute;
  width: 200px;
  height: 36px;
  left: 80px;
  top: 12px;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 52px;
}

.card .profile{
  position: absolute;
  width: 172px;
  height: 172px;
  left: calc(50% - 172px/2);
  top: 56px;
  border-radius: 50%;
}

.card .name-observe{
  position: absolute;
  width: 300px;
  height: 32px;
  left: 30px;
  top: 244px;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
}

.card .info-observe{
  position: absolute;
  width: 300px;
  height: 48px;
  left: 30px;
  top: 287px;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}

button{
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #FFFFFF;
  border: none;
}

.card .button-view{
  position: absolute;
  width: 148px;
  height: 40px;
  left: 106px;
  top: 360px;
  background: #E42313;
}

.card .button-chat{
  position: absolute;
  width: 148px;
  height: 40px;
  left: 106px;
  top: 412px;
  background: #4A74B3;
}

.name-card-reverse{
  position: absolute;
  width: 260px;
  height: 36px;
  left: calc(50% - 258px/2);
  top: 12px;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 52px;
}

.back .tag-container{
  position: absolute;
  width: 308px;
  min-height: 42px;
  left: 26px;
  top: 58px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tag{
  width: auto;
  height: 34px;
  background: #FFFFFF;
  border: 1px solid #F2F2F2;
  box-sizing: border-box;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.14);
  border-radius: 24px;

  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 10px 4px;
  margin: 2px;
}


footer{
  position: absolute;
  padding: 30px;
  text-align: center;
  bottom: 20px;
}


@media screen and (min-width: 850px){}


@media (prefers-reduced-motion:reduce){
  .card{
    transition: none;
    -webkit-transition: none;
  }
}