body{
  font-family: "Poppins", sans-serif; 
  color: #333333;
  background: #F2F2F2;
  /* position: relative; */
}

/* Navbar */
nav{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 0px 0px 14px;
  position: fixed;
  width: 100%;
  height: 60px;
  left: 0px;
  top: 0px;
  background: #FFFFFF;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

nav img{
  margin: 0 6px;
}

/* Cards */
/* card-profile */
.card-profile{
  position: absolute;
  height: 368px;
  left: 20px;
  right: 20px;
  top: 72px;
  background: #FFFFFF;
  z-index: -1;
}

.profile {
  position: absolute;
  height: 120px;
  left: 16px;
  top: 80px;
  border: 3px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 60px;
}

.background-profile{
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 56.52%;
  background: url("../images/ski.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0px -40px 10px rgba(0, 0, 0, 0.4); 
  z-index: -1; 
}

.button-back{
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  border: none;

  position: absolute;
  width: 72px;
  height: 24px;
  left: 16px;
  top: 20px;
  background: #333333;
  opacity: 0.9;
}

.name-age-profile{
  position: absolute;
  width: 168px;
  height: 40px;
  left: 146px;
  top: 120px;
  font-weight: 600;
  font-size: 24px;
  line-height: 52px;
  display: flex;
  align-items: center;
  letter-spacing: -1px;
  color: #FFFFFF;
}

.self-intro{
  position: absolute;
  left: 16px;
  right: 16px;
  top: 206px;
  bottom: 76px;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.button-chat-now{
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #FFFFFF;
  border: none;
  
  position: absolute;
  height: 40px;
  left: 16px;
  right: 16px;
  bottom: 28px; 
  background: #4A74B3; 
}

.my-basic{
  position: absolute;
  height: 264px;
  left: 20px;
  right: 20px;
  top: 452px; 
  background: #FFFFFF;
}

h1{
  position: absolute;
  width: 180px;
  height: 32px;
  left: calc(50% - 180px/2);
  top: 20px;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  text-align: center;  
}

.my-basic .span-container{
  position: absolute;
  height: 178px;
  left: 0px;
  right: 0px;
  top: 63px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.my-basic span{
  padding: 2px 80px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  align-items: center;
  text-align: center; 
}

.my-lifestyle{
  position: absolute;
  height: 360px;
  left: 20px;
  right: 20px;
  top: 728px;
  background: #FFFFFF;
}

.my-lifestyle .tag-container{
  position: absolute;
  width: 308px;
  height: 262px;
  left: calc(50% - 308px/2);
  top: 68px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tag{
  width: auto;
  height: 34px;
  background: #FFFFFF;
  border: 1px solid #F2F2F2;
  box-sizing: border-box;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.14);
  border-radius: 24px;

  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 10px 4px;
  margin: 2px;
}

.looking-for{
  position: absolute;
  height: 460px;
  left: 20px;
  right: 20px;
  top: 1100px;
  background: #FFFFFF;
}

.looking-for .span-container{
  position: absolute;
  height: 82px;
  left: 37px;
  right: 37px;
  top: 68px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.looking-for .span-container span{
  padding: 2px 2px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  align-items: center;
  text-align: center; 
}

.looking-for .tag-container{
  position: absolute;
  width: 308px;
  height: 262px;
  left: calc(50% - 308px/2);
  top: 158px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.my-photos{
  position: absolute;
  height: 1260px;
  left: 20px;
  right: 20px;
  top: 1572px;
  background: #FFFFFF;  
}

.my-photos .photo-container{
  position: absolute;
  width: 280px;
  height: 1168px;
  left: calc(50% - 280px/2);
  top: 68px;  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.my-photos img{
  align-items: center;
  text-align: center; 
  padding: 8px 0;
  width: 280px;
  height: 280px;
  /* left: 0px;
  top: 888px; */
}


footer{
  position: absolute;
  padding-top: 2700px;
  text-align: center;
  bottom: 20px;
  z-index: -2;
}


@media screen and (min-width: 850px){}


@media (prefers-reduced-motion:reduce){}